/***************************************
Author: Md. Jamal Uddin
Date: June, 2017
for: FCC Responsive Design Challenges.
****************************************/

@import url('https://fonts.googleapis.com/css?family=El+Messiri|Merriweather|Lobster');

html, body {
  font-family: 'El Messiri', Lobster, Merriweather, sans-serif;
  margin: 0px;
}

/************************
          header
*************************/

#header {
  text-align: center;
  padding: 1em;
  font-family: Merriweather, sans-serif;
  background-color: #fad;
}

#header-img {
  margin-bottom: -12px;
}

#header p {
  padding-left: 1.8em;
}

#nav-bar {
  background-color: #008B8B;
  font-size: 1.3em;
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #FFD700;
  color: #000;
}

/*************************
        Product Details
**************************/

#products {
  font-family: Merriweather;
  background-color: #F2DB0F;
  padding: 20px;
}

#direction {
  font-family: Lobster, Merriweather, sans-serif;
  background-color: cyan;
  line-height: 1.5em;
  font-size: 1.2em;
  padding: 1.5em;
}

/***************************
          Gallery 
****************************/

#photos {
  background-color: #AA009C;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#g-img  {
  padding: .5em;
  border: 3px solid GhostWhite;
  border-radius: 5px;
}

/*****************************
        contact form
*****************************/

#contact {
  background-color: #CCA0FF;
  font-family: Merriweather, sans-serif;
  padding: 1.5em;
}

#form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: .5em;
    margin-bottom: 1em;
    font-size: 1em;
}

textarea {
  height: 130px;
  font-size: 1.3em;
}

input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*****************************
           footer
*****************************/

footer{
  background-color: black;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  padding: .5em;
}

footer a {
  color: #DDBA06;
  padding: .2em;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

/*******************************
         Responsivity
********************************/
@media screen and (max-width: 568px) {
    body {
        height: 100%!important;
        background-attachment: initial !important;
        overflow: auto!important;
        min-height: 900px!important;
        font-size: 11px;
    }
  input[type=submit] {
    width: 50%;
    font-size: 1em;
  }
}
